<app-header />
<div class="one">
  <div *ngIf="isLoading$ | async">Carregando post...</div>
  <div *ngIf="error$ | async">Erro ao carregar post.</div>
  <mat-card *ngIf="post$ | async as post">
    <div class="image-container">
      <div class="sobrepoe-imagem">
        <app-back-post-list-page />
        <div>
          <strong>{{ post.title }}</strong>
        </div>
        <div>
          <span>Written by: </span>
          <span
            class="user-details"
            (click)="onUserDetails(post.author.username)"
            ><i>{{ post.author.name }}</i>
          </span>
        </div>
        <div>
          <span>{{ post.comments.length }} comments</span>
        </div>
      </div>
      <img id="image" [src]="post.image" alt="" />
    </div>
    <div class="text-container">
      <span>{{ post.body }}</span>
    </div>
    <div class="comment">
      <div class="title-comment">
        <span>Comments:</span>
      </div>
      <app-comments [comments]="post.comments"></app-comments>
    </div>
  </mat-card>
</div>
